[Unit]
Description=Fix groups during rebase
DefaultDependencies=no
Before=systemd-sysusers.service sysinit.target
After=systemd-remount-fs.service var.mount
ConditionPathExists=!/var/lib/arch-group-rebase-fix.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/arch-group-rebase-fix

[Install]
WantedBy=sysinit.target
