[Unit]
Description=Fix groups during rebase
DefaultDependencies=no
Before=systemd-sysusers.service basic.target
After=systemd-remount-fs.service var.mount
ConditionPathExists=!/var/lib/arch-group-rebase-fix.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/arch-group-rebase-fix /etc/group && /usr/bin/arch-group-rebase-fix /etc/gshadow'

[Install]
WantedBy=sysinit.target
