[Unit]
Description=Remove root fstab entry before systemd remount as ostree already covers root
Before=systemd-remount-fs.service
ConditionPathExists=/etc/fstab
ConditionPathExists=!/var/lib/remove-fstab-root.stamp

[Service]
Type=oneshot
ExecStart=/usr/bin/remove-fstab-root
TimeoutSec=20

[Install]
WantedBy=local-fs-pre.target
