[Unit]
Description=Remove root fstab entry as ostree already covers root
DefaultDependencies=no
Before=local-fs.target
After=systemd-remount-fs.service var.mount
ConditionPathExists=/etc/fstab
ConditionPathExists=!/var/lib/remove-fstab-root.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/remove-fstab-root

[Install]
WantedBy=local-fs.target
